<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<mapper namespace = "com.ischoolbar.programmer.dao.UserDao">
    <select id="findByUserName" paramterType="String" resultType="User">
        select * from user where username = #{username}
    </select>
</mapper>